@media screen and (max-width: 1220px) {
  .contentWrapper {
    margin-top: 1rem;
    width: 100rem;
  }
}

@media screen and (max-width: 1220px) {
  .contentWrapper {
    box-sizing: border-box;
    padding: 0 2.5rem;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .contentWrapper {
    margin: 0;
    padding: 0;
  }
}
